<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>JWPlayer for 10hour</title>
    <link href='/static/favicon.png' rel='shortcut icon' />
    <link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
</head>
<body>

<div class="header">
    <h1>10hour</h1>
</div>

<div class="content">
    <div class="video">
        <div id="main_video">Loading the player...</div>
    </div>

    <ul class="notification">
        <li><div>Started</div><div></div></li>
    </ul>
</div>

<div class="footer">&copy; 2014</div>

<script src="/static/jquery-2.0.3.min.js"></script>
<script src="/static/jwplayer.js"></script>
<script src="/static/main.js"></script>

</body>
</html>

